<div _ngcontent-ng-c3106274715="" style="text-align: center;" class="ng-star-inserted">
    <h1 _ngcontent-ng-c3106274715="">Find your match</h1>
    <p _ngcontent-ng-c3106274715="" class="lead">Come on in to view your matches... all you need to do is sign up!</p>
    <div _ngcontent-ng-c3106274715="" class="text-center">
        <button _ngcontent-ng-c3106274715="" class="btn btn-primary btn-lg me-2">Register</button>
        <button _ngcontent-ng-c3106274715="" class="btn btn-info btn-lg">Learn more</button>
    </div>
</div>
