<nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#" style="font-size: 30px;">Dating App</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link active" href="#" style="font-size: 20px;">Errors
              <span class="visually-hidden">(current)</span>
            </a>
          </li>
         
        </ul>
        <form  novalidate="" autocomplete="off" class="d-flex ng-valid ng-star-inserted ng-dirty ng-touched">
            <input  name="username" type="text" placeholder="Username" class="form-control me-2 ng-valid ng-dirty ng-touched">
            <input  name="password" type="password" placeholder="Password" class="form-control me-2 ng-valid ng-dirty ng-touched">
            <button  type="submit" class="btn btn-success">Login</button>
        </form>
      </div>
    </div>
  </nav>

<body>
 <ul>
  <li **ngFor="let user of users">{{user.id}}- {{user.userName}} </li>
 </ul>
</body>

<router-outlet></router-outlet>