<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-primary">
  <div class="container">
    <div class="container-dating">
      <a class="navbar-brand" [routerLink]="['/']" routerLinkActive="router-link-active" >Dating App</a>
      
      <a class="nav-link error" [routerLink]="['/errors']" routerLinkActive="router-link-active"  >Errors</a>
      <ul class="navbar-nav mr-auto mb-2 mb-md-0" *ngIf="accountService.currentUser$ | async">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/members']" routerLinkActive="router-link-active" >Matches</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/lists']" routerLinkActive="router-link-active">Lists</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/messages']" routerLinkActive="router-link-active" >Messages</a>
        </li>
        <li *appHasRole="['Admin', 'Moderator']" class="nav-item">
          <a class="nav-link" [routerLink]="['/admin']" routerLinkActive="router-link-active" >Admin</a>
        </li>
       
    </ul>
      
    </div>
    
   

    <div class="dropdown" *ngIf="(accountService.currentUser$ | async) as user" >
      <img src="{{user.photoUrl || './assets/user.png'}}" alt="user photo">
      <a class="dropdown-toggle text-light text-decoration-none ms-2" >Welcome {{user.knowAs|titlecase}}</a>
      <div class="dropdown-menu" >
        <a [routerLink]="['/member/edit']" routerLinkActive="router-link-active"  class="dropdown-item">Edit Profile</a>
        <a class="dropdown-item" (click)="logout()">Logout</a>
      </div>
    </div>

    <form *ngIf="!(accountService.currentUser$ | async)" #loginForm="ngForm" class="d-flex" (ngSubmit)="login()"
      autocomplete="off">
      <input name="username" [(ngModel)]="model.username" class="form-control me-2" type="text" placeholder="Username" autocomplete="username">
      <input name="password" [(ngModel)]="model.password" class="form-control me-2" type="password"
        placeholder="Password" autocomplete="current-password">
      <button class="btn btn-success" type="submit">Login</button>
    </form>
  </div>
</nav>