/* Tùy chỉnh cho dropdown */
.dropdown-toggle,
.dropdown-item {
    cursor: pointer;
}

img {
    max-height: 50px;
    border: 2px solid white;
    display: inline;
}

/* Tùy chỉnh cho Navbar */
.navbar-brand {
    font-size: 30px;
}

.navbar-nav .nav-link {
    font-size: 20px;
}

.dropdown-toggle {
    color: white !important;
}

.dropdown-menu {
    background-color: #343a40; /* Màu nền tối */
}

.dropdown-item {
    color: white; /* Màu chữ */
}

/* Tùy chỉnh cho Form Đăng nhập */
.form-control {
    margin-right: 10px;
}

.navbar-nav .nav-link:hover {
    color: #fff; 
    border-radius: 10px;
    cursor: pointer;
}

/* Dropdown CSS tùy chỉnh */
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-menu {
    display: none;
    position: absolute;
    background-color:white; 
    min-width: 160px;
    z-index: 1;
    padding: 0 !important;

}

.dropdown-menu a {
    color: #000;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-menu a:hover {
    background-color: rgb(211, 209, 209);
    color: white;
    box-shadow: 0 0 1 1;
}

.dropdown:hover .dropdown-menu {
    display: block;
}
.container-dating{
    display: flex;
    align-items: center;
}
.error{
    font-size: 20px;
    color: #ffffff8c;
    padding: 8px;
}
.error:hover{
    color: #fff;
}